footer.mdl-mega-footer
  .mdl-mega-footer--middle-section
    .mdl-mega-footer--drop-down-section
      input.mdl-mega-footer--heading-checkbox(type='checkbox', checked='')
      h1.mdl-mega-footer--heading Features
      ul.mdl-mega-footer--link-list
        li
          a(href='#') About
        li
          a(href='#') Terms
        li
          a(href='#') Partners
        li
          a(href='#') Updates
    .mdl-mega-footer--drop-down-section
      input.mdl-mega-footer--heading-checkbox(type='checkbox', checked='')
      h1.mdl-mega-footer--heading Details
      ul.mdl-mega-footer--link-list
        li
          a(href='#') Spec
        li
          a(href='#') Tools
        li
          a(href='#') Resources
    .mdl-mega-footer--drop-down-section
      input.mdl-mega-footer--heading-checkbox(type='checkbox', checked='')
      h1.mdl-mega-footer--heading Technology
      ul.mdl-mega-footer--link-list
        li
          a(href='#') How it works
        li
          a(href='#') Patterns
        li
          a(href='#') Usage
        li
          a(href='#') Products
        li
          a(href='#') Contracts
    .mdl-mega-footer--drop-down-section
      input.mdl-mega-footer--heading-checkbox(type='checkbox', checked='')
      h1.mdl-mega-footer--heading FAQ
      ul.mdl-mega-footer--link-list
        li
          a(href='#') Questions
        li
          a(href='#') Answers
        li
          a(href='#') Contact us
  .mdl-mega-footer--bottom-section
    .mdl-logo
      | More Information
    ul.mdl-mega-footer--link-list
      li
        a(href='https://developers.google.com/web/starter-kit/') Web Starter Kit
      li
        a(href='#') Help
      li
        a(href='#') Privacy and Terms
