header.mdl-layout__header.mdl-layout__header--scroll.mdl-color--primary
  .mdl-layout--large-screen-only.mdl-layout__header-row
  .mdl-layout--large-screen-only.mdl-layout__header-row
    h3 Web Starter Kit
  .mdl-layout--large-screen-only.mdl-layout__header-row
  .mdl-layout__tab-bar.mdl-js-ripple-effect.mdl-color--primary-dark
    a.mdl-layout__tab.is-active(href='#overview') Overview
    a.mdl-layout__tab(href='#features') Features
    a.mdl-layout__tab(href='#features') Details
    a.mdl-layout__tab(href='#features') Technology
    a.mdl-layout__tab(href='#features') FAQ
    //button#add.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored.mdl-shadow--4dp.mdl-color--accent
      i.material-icons(role='presentation') add
      span.visuallyhidden Add
