.mdl-layout__obfuscator(style= "position: fixed;")
#mypalette-btn.fab.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored.mdl-shadow--4dp.mdl-color--accent
  i.material-icons(role='presentation').fab-icon border_all
  form.cntt-wrapper
    #fab-hdr
      h3 Popup
    .cntt
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        input#text1.mdl-textfield__input(type='text')
        label.mdl-textfield__label(for='text2') Text...
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        input#text2.mdl-textfield__input(type='text')
        label.mdl-textfield__label(for='text2') More text...
    .btn-wrapper
      button#cancel.mdl-button.mdl-js-button(style="z-index: 10") Cancel
      button#submit.mdl-button.mdl-js-button.mdl-button--primary(style="z-index: 10") Submit
