/* line 1, ../../my_style/style_part/navigation.scss */
.navfixed {
  position: fixed;
}

@media (max-width: 839px) {
  /* line 6, ../../my_style/style_part/navigation.scss */
  .navfixed {
    position: relative;
  }
}
/*#mypalette-btn{
  position: fixed !important;
  top: calc(100vh - 200px) !important;
}*/
/* mdl - popup */
/* line 9, ../../my_style/style_part/my_palette.scss */
.dark-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 5;
  -webkit-transition: all 600ms cubic-bezier(0.2, 0.965, 0, 1.005);
  transition: all 600ms cubic-bezier(0.2, 0.965, 0, 1.005);
}

/* line 19, ../../my_style/style_part/my_palette.scss */
.fab {
  z-index: 5;
  cursor: pointer;
  position: fixed;
  height: 56px;
  width: 56px;
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 40px;
  margin-bottom: 40px;
  z-index: 900;
  -webkit-transition: all 600ms cubic-bezier(0.2, 0.965, 0, 1.005);
  transition: all 600ms cubic-bezier(0.2, 0.965, 0, 1.005);
}

/* line 50, ../../my_style/style_part/my_palette.scss */
.fab.active-mypalette {
  cursor: default;
  background: #FFF !important;
  border-radius: .125em;
  width: 65%;
  height: 85vh;
  box-shadow: 0 25px 35px 0 rgba(0, 0, 0, 0.35);
  top: 1em;
  right: 17%;
  margin: auto;
}

/* line 65, ../../my_style/style_part/my_palette.scss */
.fab-icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-12px, -12px);
  -ms-transform: translate(-12px, -12px);
  transform: translate(-12px, -12px);
  line-height: 24px;
  width: 24px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 82, ../../my_style/style_part/my_palette.scss */
.active-mypalette .fab-icon {
  display: none;
}

/* line 86, ../../my_style/style_part/my_palette.scss */
.active-mypalette .protect {
  background: none;
}

/* line 90, ../../my_style/style_part/my_palette.scss */
.cntt-wrapper {
  display: none;
  width: 80vh;
  height: 80vh;
}

/* line 96, ../../my_style/style_part/my_palette.scss */
.active-mypalette .cntt-wrapper {
  display: block;
}

/* line 100, ../../my_style/style_part/my_palette.scss */
#fab-hdr {
  position: absolute;
  width: 100%;
  color: white;
}

/* line 106, ../../my_style/style_part/my_palette.scss */
#fab-hdr h3 {
  padding-left: 30px;
}

/* line 110, ../../my_style/style_part/my_palette.scss */
.cntt {
  padding: 100px 35px 0 35px;
  color: #757575;
}

/* line 115, ../../my_style/style_part/my_palette.scss */
.btn-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 8px;
  padding: 6px 16px;
}

/* line 123, ../../my_style/style_part/my_palette.scss */
.center {
  margin: 0 auto;
}

@use postcss-cssnext;
/* line 3, ../../my_style/style_part/color_picker.scss */
* {
  box-sizing: border-box;
}

/* line 7, ../../my_style/style_part/color_picker.scss */
:root {
  font-family: sans-serif;
}

/* line 11, ../../my_style/style_part/color_picker.scss */
body {
  margin: 0;
}

/* line 15, ../../my_style/style_part/color_picker.scss */
#picker {
  background-color: white;
  margin: 2rem 0 1rem;
  padding: 1rem;
  display: inline-flex;
  width: 100%;
}

/* line 23, ../../my_style/style_part/color_picker.scss */
#picker h1 {
  font-weight: 100;
  line-height: 1;
  margin: 0 0 1rem;
  color: gray;
}

/* line 30, ../../my_style/style_part/color_picker.scss */
.div_sample {
  margin-right: 3rem;
}

/* line 34, ../../my_style/style_part/color_picker.scss */
.div_sample_range {
  width: 100%;
  padding-top: 0.8em;
}

/* line 39, ../../my_style/style_part/color_picker.scss */
[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: currentColor;
  background-origin: content-box;
  background-repeat: no-repeat;
  border-radius: 1rem;
  display: block;
  color: inherit;
  height: 1rem;
  margin: 0 0 3rem;
  padding: 0;
  width: 100%;
}

/* line 53, ../../my_style/style_part/color_picker.scss */
[type="range"]:focus {
  outline: none;
}

/* line 56, ../../my_style/style_part/color_picker.scss */
[type="range"]::-moz-range-track {
  background-color: transparent;
}

/*[type="range"]::-webkit-slider-runnable-track {
  margin: 0 -1rem;
}
[type="range"]::-webkit-slider-thumb {
  appearance: none;
  background-color: transparent;
  border-radius: 100%;
  box-shadow:
    inset 0 0 0 .125rem currentColor,
    inset 0 0 0 .25rem white;
  height: 2rem;
  width: 2rem;
}
[type="range"]::-moz-range-thumb {
  background-color: transparent;
  border: 0;
  border-radius: 100%;
  box-shadow:
    inset 0 0 0 .125rem currentColor,
    inset 0 0 0 .25rem white;
  height: 2rem;
  width: 2rem;
}*/
/* line 82, ../../my_style/style_part/color_picker.scss */
#sample {
  border-radius: 0.5rem;
  height: 3rem;
  text-align: right;
  padding: .33rem 1rem;
  width: 150px;
  height: 150px;
}

/* line 90, ../../my_style/style_part/color_picker.scss */
#sample div {
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 100;
  line-height: 1.5em;
}

/* line 96, ../../my_style/style_part/color_picker.scss */
#sample div:hover {
  text-decoration: underline;
}

/* line 99, ../../my_style/style_part/color_picker.scss */
#sample .white {
  color: white;
}

/* line 102, ../../my_style/style_part/color_picker.scss */
#sample .black {
  color: black;
}

/* line 106, ../../my_style/style_part/color_picker.scss */
#hsl-h {
  background-image: linear-gradient(to right, #F00, #FF0, #0F0, #0FF, #00F, #F0F, #F00);
}

/* line 119, ../../my_style/style_part/color_picker.scss */
#hsl-s {
  background-image: linear-gradient(to right, #888, transparent);
}

/* line 126, ../../my_style/style_part/color_picker.scss */
#hsl-l {
  background-image: linear-gradient(to right, #000, transparent, #FFF);
}

/*@media screen and (min-width: 42rem) {
  #picker {
    display: block;
  }
}*/
