doctype html
html(lang='')
  include partials/header
  body.mdl-demo.mdl-color--grey-100.mdl-color-text--grey-700.mdl-base
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      include partials/my_palette-button_to_container
      include partials/head
      main.mdl-layout__content
        #overview.mdl-layout__tab-panel.is-active

          section.section--center.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp(style="max-width: 1200px")
            .mdl-tabs.mdl-js-tabs.mdl-js-ripple-effect
              .mdl-tabs__tab-bar
                a.mdl-tabs__tab.is-active(href='#related_colors') Related Colors
                a.mdl-tabs__tab(href='#more_colors') More Colors
                a.mdl-tabs__tab(href='#palette') Palette
                a.mdl-tabs__tab(href='#options') Options

              include partials/color_menu-related_colors
              include partials/color_menu-more_colors
              include partials/color_menu-palette
              include partials/color_menu-options

        include partials/footer-mini
    include partials/scripts
