@use postcss-cssnext;
/* line 3, ../../../my_style/style_part/color_picker.scss */
* {
  box-sizing: border-box;
}

/* line 7, ../../../my_style/style_part/color_picker.scss */
:root {
  font-family: sans-serif;
}

/* line 11, ../../../my_style/style_part/color_picker.scss */
body {
  margin: 0;
}

/* line 15, ../../../my_style/style_part/color_picker.scss */
#picker {
  background-color: white;
  margin: 2rem 0 1rem;
  padding: 1rem;
  display: inline-flex;
  width: 100%;
}

/* line 23, ../../../my_style/style_part/color_picker.scss */
#picker h1 {
  font-weight: 100;
  line-height: 1;
  margin: 0 0 1rem;
  color: gray;
}

/* line 30, ../../../my_style/style_part/color_picker.scss */
.div_sample {
  margin-right: 3rem;
}

/* line 34, ../../../my_style/style_part/color_picker.scss */
.div_sample_range {
  width: 100%;
  padding-top: 0.8em;
}

/* line 39, ../../../my_style/style_part/color_picker.scss */
[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: currentColor;
  background-origin: content-box;
  background-repeat: no-repeat;
  border-radius: 1rem;
  display: block;
  color: inherit;
  height: 1rem;
  margin: 0 0 3rem;
  padding: 0;
  width: 100%;
}

/* line 53, ../../../my_style/style_part/color_picker.scss */
[type="range"]:focus {
  outline: none;
}

/* line 56, ../../../my_style/style_part/color_picker.scss */
[type="range"]::-moz-range-track {
  background-color: transparent;
}

/*[type="range"]::-webkit-slider-runnable-track {
  margin: 0 -1rem;
}
[type="range"]::-webkit-slider-thumb {
  appearance: none;
  background-color: transparent;
  border-radius: 100%;
  box-shadow:
    inset 0 0 0 .125rem currentColor,
    inset 0 0 0 .25rem white;
  height: 2rem;
  width: 2rem;
}
[type="range"]::-moz-range-thumb {
  background-color: transparent;
  border: 0;
  border-radius: 100%;
  box-shadow:
    inset 0 0 0 .125rem currentColor,
    inset 0 0 0 .25rem white;
  height: 2rem;
  width: 2rem;
}*/
/* line 82, ../../../my_style/style_part/color_picker.scss */
#sample {
  border-radius: 0.5rem;
  height: 3rem;
  text-align: right;
  padding: .33rem 1rem;
  width: 150px;
  height: 150px;
}

/* line 90, ../../../my_style/style_part/color_picker.scss */
#sample div {
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 100;
  line-height: 1.5em;
}

/* line 96, ../../../my_style/style_part/color_picker.scss */
#sample div:hover {
  text-decoration: underline;
}

/* line 99, ../../../my_style/style_part/color_picker.scss */
#sample .white {
  color: white;
}

/* line 102, ../../../my_style/style_part/color_picker.scss */
#sample .black {
  color: black;
}

/* line 106, ../../../my_style/style_part/color_picker.scss */
#hsl-h {
  background-image: linear-gradient(to right, #F00, #FF0, #0F0, #0FF, #00F, #F0F, #F00);
}

/* line 119, ../../../my_style/style_part/color_picker.scss */
#hsl-s {
  background-image: linear-gradient(to right, #888, transparent);
}

/* line 126, ../../../my_style/style_part/color_picker.scss */
#hsl-l {
  background-image: linear-gradient(to right, #000, transparent, #FFF);
}

/*@media screen and (min-width: 42rem) {
  #picker {
    display: block;
  }
}*/
